h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

.logo {
  background-image: url("../img/ht-logo-large-file.svg");
  height: 50px;
  width: 150px;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 30px;
  display: inline-block; }

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  margin: 5px;
  margin-right: 10px; }

a:hover {
  text-decoration: none;
  color: white; }

.shop-button {
  font-family: 'Montserrat', sans-serif;
  color: #F3ECF6;
  background: #8C8092;
  border: none;
  padding: 10px 30px;
  text-transform: uppercase; }

.shop-button:hover {
  text-decoration: none; }

header {
  background: #29222C;
  height: 80px; }

.desktop-nav {
  margin: 0;
  width: 100%; }
  .desktop-nav button {
    margin-top: 5px;
    margin-left: 20px; }
  .desktop-nav ul {
    list-style: none;
    padding: 0;
    float: right;
    margin: 20px 30px 0 0; }
  .desktop-nav li {
    display: inline-block; }
  .desktop-nav li:hover {
    border-bottom: white 2px solid; }

.desktop-nav .shop-button:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
  box-shadow: none;
  padding: 8px 28px; }

.dropdown-menu {
  background: #8C8092; }

.mobile-nav {
  display: none;
  width: 100%; }
  .mobile-nav button {
    margin: 20px 20px 10px 0;
    float: right; }

.mobile-nav .logo {
  margin: 14px 0 10px 20px;
  float: left; }

.hero {
  background-image: url("../img/card3-sun&moon.png");
  background-image: linear-gradient(to top, white 2%, transparent), url("../img/card3-sun&moon.png");
  background-size: cover;
  background-position: bottom;
  height: 700px; }

.hero-image {
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: bottom; }

.hero-container {
  margin-left: 45%; }
  .hero-container a {
    margin-top: 350px;
    display: inline-block; }

.hero .shop-button:hover {
  background: transparent;
  border: 4px solid #29222C;
  color: #29222C;
  padding: 6px 26px; }

.products-container {
  margin-top: 200px;
  height: 600px;
  background: linear-gradient(to bottom, white 4%, #29222C); }
  .products-container h1 {
    width: 100%;
    text-align: center;
    color: #29222C;
    margin-bottom: 50px; }
  .products-container a {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-left: 0; }

.jewelry-card h1, .silk-card h1 {
  color: #29222C;
  position: absolute;
  background: white;
  opacity: .7;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0; }

.jewelry-card {
  background-image: url("../img/jewelry-card-pic.jpg"); }

.silk-card {
  background-image: url("../img/scarf-card-pic.jpg"); }

.jewelry-title, .silk-title {
  display: inline-block;
  margin-left: 50px;
  width: 40%; }

.jewelry-card, .silk-card {
  display: inline-block;
  height: 60%;
  min-height: 360px;
  width: calc(40% - 50px);
  min-width: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10%;
  position: relative;
  overflow: hidden; }

.jewelry-card-popup, .silk-card-popup {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(60px);
  transition-duration: 0.3s; }

.jewelry-card:hover .jewelry-card-popup {
  display: inline-block;
  transform: translateY(0px); }

.silk-card:hover .silk-card-popup {
  display: inline-block;
  transform: translateY(0px); }

.silk-card:hover, .jewelry-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.featured-collection-container {
  height: 600px;
  width: 100%;
  background: #29222C;
  display: inline-block; }
  .featured-collection-container h1 {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 0; }
  .featured-collection-container p {
    margin-top: 0;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    color: white; }

.collection-card {
  display: inline-block;
  height: 400px;
  width: calc(60% - 70px);
  background-image: url("../img/collection-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 50px;
  float: left; }

.collection-text {
  display: inline-block;
  height: 400px;
  width: calc(40% - 50px);
  margin-left: 5px;
  background: #8C8092;
  float: right;
  margin-right: 60px; }
  .collection-text h1 {
    border-bottom: 2px solid white; }

.footer {
  height: 500px;
  background: #29222C; }
  .footer hr {
    border: 5px;
    margin: 2px;
    align: center;
    width: 80%; }
  .footer h1 {
    color: white;
    margin-left: 50px;
    padding-top: 10px; }

input:focus, textarea:focus {
  outline-color: transparent;
  background: transparent;
  border-style: none;
  border-color: transparent;
  outline: -webkit-focus-ring-color none 5px;
  border-bottom: 2px solid white;
  color: white; }

label {
  margin-left: 50px;
  color: white; }

input {
  display: block;
  margin-left: 50px;
  margin-bottom: 20px;
  height: 50px;
  width: 300px; }

textarea {
  display: block;
  margin-left: 50px;
  height: 90px;
  width: 300px; }

button {
  margin-left: 50px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #F3ECF6;
  background: #8C8092;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase; }

.social-icons {
  margin-top: 20px;
  color: white;
  height: 100px;
  width: 100%;
  background: #8C8092;
  padding-left: 50px;
  padding-top: 20px; }
  .social-icons .social-icons i {
    letter-spacing: 20px; }

@media (max-width: 900px) {
  .hero, .hero-image {
    height: 500px; }
  .hero a {
    margin-top: 200px; }
  .products-container {
    margin-top: 100px;
    height: 600px; }
  .jewelry-card, .silk-card {
    height: 250px; }
  .employee-bio {
    height: 900px; }
  .employee-bio-1-pic {
    margin-left: 30%; }
  .employee-bio-1-text {
    padding-top: 0px;
    background: red; }
  .employee-bio-2-pic {
    margin-left: 30%; }
  .employee-bio-2-text {
    padding-top: 0;
    background: navy; } }

@media (max-width: 800px) {
  .hero, .hero-image {
    height: 500px; }
  .hero a {
    margin-top: 200px; }
  .products-container {
    margin-top: 30px;
    height: 900px; }
  .jewelry-card, .silk-card {
    height: 250px;
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    display: block; }
  .featured-collection-container {
    height: 600px; }
  .collection-card {
    display: block;
    width: calc(100% - 100px);
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5px;
    float: none; }
  .collection-text {
    display: block;
    width: calc(100% - 100px);
    height: 200px;
    margin-left: 50px;
    float: none; }
  .employee-bio {
    height: 900px; } }

@media (max-width: 610px) {
  .mobile-nav {
    display: inline-block; }
  .desktop-nav {
    display: none; }
  .hero, .hero-image {
    height: 400px; }
  .hero a {
    margin-top: 200px; }
  .products-container {
    margin-top: 30px;
    height: 900px; }
  .jewelry-card, .silk-card {
    height: 250px;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: block; }
  .featured-collection-container {
    height: 650px; }
  .collection-card {
    display: block;
    width: calc(100% - 40px);
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    float: none; }
  .collection-text {
    display: block;
    width: calc(100% - 40px);
    height: 200px;
    margin-left: 20px;
    float: none; }
  .employee-bio {
    height: 900px; }
  .employee-bio-1-text {
    padding-top: 0; } }

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 175px;
  background-color: #161616;
  padding-right: 20px;
  padding-bottom: 20px;
  transition: 0.2s;
  transform: translateY(-250px);
  z-index: 1; }
  .mobile-menu ul {
    list-style: none;
    padding: 0;
    float: right;
    margin: 20px 30px 0 0; }
  .mobile-menu li {
    display: block; }

.open {
  transform: translateY(60px); }

.main-section p {
  background: #8C8092;
  margin: 0;
  padding: 50px; }

.employee-bio {
  height: 600px; }

.employee-bio-1-text {
  display: inline-block;
  vertical-align: top;
  padding-top: 100px;
  padding-left: 20px; }
  .employee-bio-1-text p {
    background: none;
    display: inline-block;
    padding: 0; }

.employee-bio-2-text {
  display: inline-block;
  vertical-align: top;
  padding-top: 100px;
  padding-left: 20px; }
  .employee-bio-2-text p {
    background: none;
    display: inline-block;
    padding: 0; }

.employee-bio-1-pic {
  border: 1px #8C8092 solid;
  background-image: url("../img/employee-1.jpg");
  background-position: top;
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-top: 20px; }

.employee-bio-2-pic {
  border: 1px #8C8092 solid;
  background-image: url("../img/employee-2.jpg");
  background-position: left;
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-top: 20px; }

.all-products {
  height: 700px; }

.products-intro {
  height: 250px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  background: #8C8092;
  color: white; }

.card-deck {
  padding-top: 70px; }
  .card-deck h1 {
    height: 50px;
    width: 100%;
    text-align: center; }

.jewelry-card-1 {
  border: none; }
  .jewelry-card-1 img {
    background-image: url("../img/j-product-1.jpg");
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.jewelry-card-2 {
  border: none; }
  .jewelry-card-2 img {
    background-image: url("../img/j-product-2.jpg");
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.jewelry-card-3 {
  border: none; }
  .jewelry-card-3 img {
    background-image: url("../img/j-product-3.jpg");
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.silk-card-1 {
  border: none; }
  .silk-card-1 img {
    background-image: url("../img/s-product-1.jpg");
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.silk-card-2 {
  border: none; }
  .silk-card-2 img {
    background-image: url("../img/s-product-2.jpg");
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.silk-card-3 {
  border: none; }
  .silk-card-3 img {
    background-image: url("../img/s-product-3.jpg");
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
